In [8]:

# 1:Installation
!pip install faker

# 2: Library import
import pandas as pd
from faker import Faker
import random

# 3: Randomisation with Reproducibility
seed = 42
random.seed(seed)
faker = Faker('en_IN') # for india specific
Faker.seed(seed)

# 4: Sample Data
data = {
    'Name': ['Jaykant Shikre', 'Pushpa Raj', 'Raja Krishnappa Bairya', 'Langada Tyagi'],
    'Email': ['jaykantrox@gmail.com','jhukega_nahi_sala@example.com', 'rocky@example.com', 'bahubali@example.com'],
    'Phone': ['123-456-7890', '234-567-8901', '345-678-9012', '456-789-0123'],
    'Address': ['123 shivpur, goa', '456 seshachalam hills', '789 Oak St, Bangalore', '321 Pine St, uttar pradesh']
}

df_original = pd.DataFrame(data)
print("Original Data:")
print(df_original)

# 5: Masking Function
def mask_data(df):
    masked_df = df.copy()
    for i in range(len(df)):
        masked_df.loc[i, 'Name'] = faker.name()
        masked_df.loc[i, 'Email'] = faker.email()
        masked_df.loc[i, 'Phone'] = faker.phone_number()
        masked_df.loc[i, 'Address'] = faker.address().replace("\n", ", ")
    return masked_df

# 6: Apply Masking
df_masked = mask_data(df_original)

# 7: Masked Data display
print("\nMasked Data:")
print(df_masked)

Requirement already satisfied: faker in /usr/local/lib/python3.11/dist-packages (37.4.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Original Data:
                     Name                          Email         Phone  \
0          Jaykant Shikre           jaykantrox@gmail.com  123-456-7890
1              Pushpa Raj  jhukega_nahi_sala@example.com  234-567-8901
2  Raja Krishnappa Bairya              rocky@example.com  345-678-9012
3           Langada Tyagi           bahubali@example.com  456-789-0123

                      Address
0            123 shivpur, goa
1       456 seshachalam hills
2       789 Oak St, Bangalore
3  321 Pine St, uttar pradesh

Masked Data:
            Name                     Email          Phone  \
0  Aryan Maharaj    udantdewan@example.net  +918196001338
1  Gunbir Parmer     aishani07@example.net  +916184959310
2    Nihal Shere        omadan@example.net     3503056413
3    Gavin Batta  duanathaniel@example.net    09166978480

                                   Address
0      86/379, Ahuja Road, Bhusawal 423511
1     H.No. 316, Setty Road, Ujjain-534192
2  76/724, Koshy Street, Bhimavaram 965328
3      51/462, Aggarwal Chowk, Orai 814893